<div class="home-content">
	<h2>Value of Money: Meaning : Decreasing Day by Day</h2>
	<img src="img/money.jpg">
	<p>The value of money is decreasing day by day due to te huge decline in the global economy. The world economy is going through a different phase in the past few years. It has seen recession in almost all the sectors. The countries which are rich are becoming more rich and the poor countries are getting more poorer. The gap between the countries is increasing. While only 4-5 countries are ruling the world economy, the value of money is decreasing for all the other countries.
    </p>

	<hr>
	<h2>GMO Foods</h2>
	<img src="img/gmo.jpg">
	<p>The Genetically modified foods are foods produced from organisms that have some DNA changes done to them. Research shows that GMO foods are safe to eat and can be used to feed world hunger. Tha main steps which are used to create GMO foods are first of all to identify what plant to use. After that, they copy their gene. Then scientists use tools to insert the genes into their DNA and then finally they grow it. 
    </p>

	<hr>
	<h2>View of World in 2100</h2>
	<img src="img/future.jpg">
	<p>The world will be seeing drastic changes in the coming 100 years. Rather it can be in terms of population, polution, technology or anything. The technology will take over humans maybe. Life at different planets could also be possible. The increasing level of pollution and global warming could also be an issue and human existance can face threats due to that.</p>
</div>