<h1>Portfolio</h1>
<div class="grid-container">
	<figure>
		<img src="img/money-1.jpg" alt="dollar stack">
		<figcaption>Stack Money</figcaption>
	</figure>
	<hr>
	<figure>
		<img src="img/money-2.png" alt="euro">
		<figcaption>Euro</figcaption>
	</figure>
	<hr>
	<figure>
		<img src="img/food-1.jpg" alt="tomatoes">
		<figcaption>Tomatoes</figcaption>
	</figure>
	<hr>
	<figure>
		<img src="img/food-2.jpg" alt="slad">
		<figcaption>Salad</figcaption>
	</figure>
	<hr>
	<figure>
		<img src="img/future-1.jpg" alt="future city">
		<figcaption>Future</figcaption>
	</figure>
	<hr>
	<figure>
		<img src="img/future-2.jpg" alt="spaceship">
		<figcaption>Spaceship</figcaption>
	</figure>
</div>